.sidebar
  &.sidebar-regions
    .list-item
      button
        text-align: left
        padding-left: 25px
        padding-right: 25px

md-sidenav[component-id="filters"]
  transition: left 1s

.panel
  &.panel-info
    padding: 0 30px 60px 30px
    p
      margin-top: 8px
      margin-bottom: 24px